
.input-field {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.newGroup h1{
    font-size: 30px;
}
.input-field h2 {
    width: 44%;
    font-size: 27px;
}

.input-field input {
    width: 100%;
    border-radius: 10px;
    border: solid black 2px;
    padding: 10px 20px;
    font-size: 23px;
    font-weight: 400;
}

.colorPallet {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.createButton {
    width: 150px;
    height: 50px;
    background-color: #001F8B;
    position: sticky;
    top: 100%;
    left: 100%;
    border-radius: 11px;
    font-size: 20px;
    color: white;
    font-weight: 400;
}
