.Homepage{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homepage p{
    font-size: 22px;
}

.Homepage h1{
    font-size: 50px;
    font-weight: 700;
}

.encrypted{
    display: flex;
    justify-content: center;
    gap: 7px;
    position: absolute;
    bottom: 10px;
    /* left: 50%; */
    /* right: 50%; */
}