.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Roboto';
}

/*  */

.card-shown{
  width: 100vw;
  height: 100vh;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
/* .card-shown :not(.newGroup){
  opacity: 0.1;
} */

.newGroup{
  width: 40vw;
  aspect-ratio: 10/6;
  min-height: 300px;
  min-width: 500px;
  position: absolute;
  top: 25vh;
  left: 30vw;
  border-radius: 10px;
  padding: 15px;
  padding-left: 25px;
  opacity: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width : 1000px) {
  .newGroup{
      left: 15%;
      padding: 10px;
  }
}
@media screen and (max-width : 600px) {
  .newGroup{
      left: 5%;
      min-width: 90vw;
      padding: 15px;
  }
  
}

