.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Roboto';
}

/*  */

.newGroup{
  width: 45%;
  height: 45%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* margin-top: -375px;
  margin-left: -160px; */
  border-radius: 10px;
  padding: 25px;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.colorPallet{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.createButton{
  width: 150px;
  height: 50px;
  background-color: #001F8B;
  position: sticky;
  top: 100%;
  left: 100%;
  border-radius: 11px;
  font-size: 20px;
  color: white;
}

@media screen and (max-width : 576px) {
  .App{
    flex-direction: column;
  }
  
}